/*!
 * Start Bootstrap - Heroic Features (https://startbootstrap.com/templates/heroic-features)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-heroic-features/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

nav.navbar {
  background-color: #DA291C;
}

.container{
  background-color: #da291c8f;
}

.jumbotron{
  background-color: #DA291C;
}

.card{
  background-color: #DA291C;
}

footer{
  background-color: #DA291C;
}